body {
    background: #515151;
}

.box {
    position: relative;
    width: 1000px;
    min-height: 50px;
    border: 2px solid #424242;
    border-radius: 10px;
    margin: 0px auto;
    padding: 10px;
    background-color: #606060;
}

.font {
    text-align: center;
    font-size: 40px;
    color: antiquewhite;
    font-family: "Newsreader", sans-serif;
}

.center {
    margin: 0px auto;
    text-align: center;
}

.input {
    height: 100px;
    width: 600px;
    margin-top: 35px;
    border: 2px solid #424242;
    border-radius: 10px;
    z-index: 2;
    text-align: center;
    font-size: 40px;
    background: #606060;
}

.letter {
    position: relative;
    height: 100px;
    max-width: 100px;
    margin-left: 900px;
    margin-bottom: 20px;
    border: 2px solid #424242;
    border-radius: 10px;
    font-size: 80px;
}

.board {
    margin: 0px auto;
    text-align: center;
    height: auto;
    width: 500px;
    z-index: auto;
    border: 2px solid #424242;
    border-radius: 10px;
    background-color: #606060;
}

.highlight {
    color: aqua;
}
